################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AIScoutProject/FileContentIndex/5dfdb64e-b2e4-416d-af72-02575dd6a521.vsidx
